body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.ryu_ready, .ryu_throwing, .ryu_cool {
	display: none;
}

.ryu_still {
	display: block;
}

.ryu_container, .ryu_figure {
	float: left;
}

.ryu_still, .ryu_ready, .ryu_throwing, .ryu_cool {
	height: 494px;
	width: 659px;
}

.ryu_ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu_still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu_throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu_cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	height: 90px;
	width: 156px; 
	display: none;
	position: absolute;
	z-index: 10;
	top: 200px;
	left: 0px;
	float: left;
}

.hadouken, .ryu_cool, .ryu_ready, .ryu_still, .ryu_throwing {
    background-repeat: no-repeat;
}

.content {
	position: absolute;
	left: 650px;
	height: 425px;
	width: 600px;
	padding-top: 75px;
}

.sf-logo {
	background-image: url('../images/street-fighter-logo.jpg');
	width: 682px;
	height: 340px;
}


.how-to {
	padding-top: 100px;
	width: 75%;
	color: red;
	font-size: 24px;
	line-height: 45px;
}

